.ticker-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.ticker-text {
  margin-bottom: 1.5rem;
}

#stock-ticker {
  margin-top: 1.5rem;
  width: 50%;
  height: 1.8rem;
  font-size: 1rem;
  border: 1px solid lightgray;
  border-radius: 15px;
  box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.4);
}

.submit {
  margin-top: 1.5rem;
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  background-color: black;
  color: white;
  border: none;
}

.submit:active {
  transform: scale(0.93);
}

.positive-result {
  text-align: center;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

/*.container-loadingbar {
  display: none;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
  letter-spacing: 2px;
}

.loading {
  display: none;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading .line-box {
  display: none;
  padding: 0.1rem;
  width: 45%;
  height: 20%;
  border: 2px solid rgb(38, 169, 192);
  border-radius: 20px;
}

.loading .line-box .line {
  background-color: rgb(57, 216, 124);
  height: 20px;
  border-radius: 20px;
  animation: loading 6s forwards cubic-bezier(0,0,0,0);
  animation-iteration-count: infinite;
}

@keyframes loading {
  0% {
    width: 0%;
  }

  60% {
    width: 40%;
  }

  100% {
    width: 100%;
  }
}*/








